<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include("../partials/head",{title:"Sobre WorkZone"}) %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
            <main>
                <section class="contact py-5" id="contact">
                    <div class="container">
                        <!-- Encabezado -->
                        <header class="mb-4">
                            <h2 class="fw-bold text-uppercase text-center">Empresa</h2>
                        </header>
                        <!-- Imagen principal -->
                        <div class="row g-4">
                            <div class="col-12">
                                <img src="images/ropa-de-seguridad.jpg" alt="Imagen de ropa de seguridad"
                                    class="img-fluid rounded-0 shadow">
                            </div>
                        </div>
                        <!-- Descripción principal -->
                        <div class="row g-5 mt-4">
                            <div class="col-12 text-center">
                                <h3 class="fw-bold">Somos WorkZone</h3>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="small text-muted text--justify">WorkZone nació con el propósito de garantizar
                                    la seguridad y
                                    comodidad de los trabajadores en los entornos laborales más desafiantes. Desde sus
                                    inicios, la empresa ha dedicado sus esfuerzos a ofrecer equipos de protección
                                    personal y ropa industrial de alta calidad, diseñados para satisfacer las
                                    necesidades específicas de diferentes sectores. Su compromiso con la excelencia y la
                                    innovación ha permitido a WorkZone posicionarse como un aliado confiable para
                                    empresas y trabajadores que buscan proteger su bienestar.</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="small text-muted text--justify">A lo largo de los años, WorkZone ha crecido
                                    junto a sus
                                    clientes, adaptándose a los avances tecnológicos y las demandas del mercado. Hoy en
                                    día, la empresa no solo se enfoca en la seguridad laboral, sino también en la
                                    sostenibilidad, implementando prácticas responsables y materiales amigables con el
                                    medio ambiente. Con un enfoque centrado en la calidad y el servicio, WorkZone
                                    continúa expandiendo su presencia, marcando la diferencia en la vida de sus
                                    clientes.</p>
                            </div>
                        </div>

                        <!-- Misión, Visión y Valores -->
                        <div class="row g-4 mt-5 text-center">
                            <div class="col-12 col-md-4">
                                <i class="fa-solid fa-rocket fs-1 mb-2"></i>
                                <h4 class="fw-bold">Misión</h4>
                                <p class="small text-muted">Nuestra misión es proporcionar equipos de protección
                                    personal y ropa de seguridad
                                    laboral e industrial que brinden confianza y protección a nuestros clientes,
                                    mejorando la seguridad en sus ambientes de trabajo.</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <i class="fa-regular fa-eye fs-1 mb-2"></i>
                                <h4 class="fw-bold">Visión</h4>
                                <p class="small text-muted">Ser la empresa líder en el mercado de protección personal,
                                    ofreciendo productos de
                                    alta calidad e innovación, asegurando un impacto positivo tanto en la seguridad
                                    laboral como en el bienestar de nuestros clientes.</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <i class="fa-solid fa-hands-holding-child fs-1 mb-2"></i>
                                <h4 class="fw-bold">Valores</h4>
                                <p class="small text-muted">Compromiso, Innovación, Sostenibilidad, Confianza.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="about py-5">
                    <div class="container">
                        <!-- Título -->
                        <header class="text-center mb-4">
                            <h2 class="fw-bold">¿Cómo ayudas a tus clientes?</h2>
                        </header>
                        <!-- Contenido -->
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10">
                                <p class="text-center small ">
                                    En WorkZone, ayudamos a nuestros clientes garantizando su seguridad laboral a través
                                    de productos de alta calidad y asesoramiento personalizado. Ofrecemos equipos de
                                    protección personal que cumplen con normativas internacionales y son fabricados con
                                    materiales sostenibles. Además, brindamos atención rápida y eficiente, asegurando
                                    que nuestros clientes siempre reciban el mejor soporte. En resumen, nos
                                    comprometemos a proteger a los trabajadores y a construir relaciones basadas en
                                    confianza y excelencia.
                                </p>
                            </div>
                        </div>
                        <!-- Botón centrado -->
                        <div class="text-center mt-4">
                            <a href="/sobre-workzone" class="btn btn--secondary">VER MÁS</a>
                        </div>
                    </div>
                </section>

                <section class="py-5">
                    <div class="container">
                        <!-- Título -->
                        <header class="text-center mb-4">
                            <h2 class="fw-bold">Nuestro Equipo </h2>
                        </header>
                        <!-- Contenido -->
                        <div class="row justify-content-center mb-5">
                            <div class="col-lg-8 col-md-10">
                                <p class="small text-center text-muted">
                                    En WorkZone, nuestro equipo está formado por expertos apasionados por la seguridad
                                    laboral. Nos comprometemos a ofrecer soluciones personalizadas, innovadoras y de
                                    alta calidad para proteger a los trabajadores. A través de la colaboración y el
                                    enfoque en el cliente, cada miembro de nuestro equipo contribuye a crear entornos
                                    laborales más seguros y confiables.
                                </p>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                            <div class="mb-4">
                                <div class="card shadow-sm h-100 border-0">
                                    <div class="card-body d-flex flex-column align-items-center p-0">
                                        <div class="d-flex justify-content-center mb-3 ">
                                            <img src="images/users/male-user1.jpg" alt="Foto del revisor"
                                                class="img-fluid rounded-3 img--size">
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <p class="fw-bold mb-1 text-center">Carlos Roberto Arando Llanos</p>
                                            <p class="text-muted mb-0 text-center">Gerente</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white border-0">
                                        <div class="d-flex justify-content-center gap-2">
                                            <i class="fa-brands fa-facebook text--link"></i>
                                            <i class="fa-brands fa-instagram text--link"></i>
                                            <i class="fa-brands fa-x-twitter text--link"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="card shadow-sm h-100 border-0">
                                    <div class="card-body d-flex flex-column align-items-center p-0">
                                        <div class="d-flex justify-content-center mb-3 ">
                                            <img src="images/users/female-user1.jpg" alt="Foto del revisor"
                                                class="img-fluid rounded-3 img--size">
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <p class="fw-bold mb-1 text-center">Carlos Roberto Arando Llanos</p>
                                            <p class="text-muted mb-0 text-center">Gerente</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white border-0">
                                        <div class="d-flex justify-content-center gap-2">
                                            <i class="fa-brands fa-facebook text--link"></i>
                                            <i class="fa-brands fa-instagram text--link"></i>
                                            <i class="fa-brands fa-x-twitter text--link"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="card shadow-sm h-100 border-0">
                                    <div class="card-body d-flex flex-column align-items-center p-0">
                                        <div class="d-flex justify-content-center mb-3 ">
                                            <img src="images/users/male-user2.jpg" alt="Foto del revisor"
                                                class="img-fluid rounded-3 img--size">
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <p class="fw-bold mb-1 text-center">Carlos Roberto Arando Llanos</p>
                                            <p class="text-muted mb-0 text-center">Gerente</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white border-0">
                                        <div class="d-flex justify-content-center gap-2">
                                            <i class="fa-brands fa-facebook text--link"></i>
                                            <i class="fa-brands fa-instagram text--link"></i>
                                            <i class="fa-brands fa-x-twitter text--link"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="card shadow-sm h-100 border-0">
                                    <div class="card-body d-flex flex-column align-items-center p-0">
                                        <div class="d-flex justify-content-center mb-3 ">
                                            <img src="images/users/female-user2.jpg" alt="Foto del revisor"
                                                class="img-fluid rounded-3 img--size">
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <p class="fw-bold mb-1 text-center">Carlos Roberto Arando Llanos</p>
                                            <p class="text-muted mb-0 text-center">Gerente</p>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-white border-0">
                                        <div class="d-flex justify-content-center gap-2">
                                            <i class="fa-brands fa-facebook text--link"></i>
                                            <i class="fa-brands fa-instagram text--link"></i>
                                            <i class="fa-brands fa-x-twitter text--link"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <!-- Section newsletter -->
                <%- include("../partials/newsletter") %>
                    <!-- /Section newsletter -->
            </main>
            <%- include("../partials/footer") %>
                <%- include("../partials/scripts") %>
    </body>

</html>