<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include("../partials/head",{title:"Inicio"}) %>

    <body>
        <!-- Header -->
        <%- include("../partials/header") %>
            <!-- Main -->
            <main>
                <%- include("../partials/banner") %>
                    <!-- Section info-cards -->
                    <section class="info-cards">
                        <article class="info-card">
                            <header class="info-card__icon">
                                <i class="fa-solid fa-truck-ramp-box"></i>
                            </header>
                            <div class="info-card__content">
                                <h3 class="info-card__title">ENVIÓS A TODO EL PAÍS</h3>
                                <p class="info-card__description">Consultar montos</p>
                            </div>
                        </article>
                        <article class="info-card">
                            <header class="info-card__icon">
                                <i class="fa-solid fa-truck-fast"></i>
                            </header>
                            <div class="info-card__content">
                                <h3 class="info-card__title">ENVIÓS AMBA 48HS - INTERIOR 72/96HS</h3>
                                <p class="info-card__description">Envios</p>
                            </div>
                        </article>
                        <article class="info-card">
                            <header class="info-card__icon">
                                <i class="fa-regular fa-credit-card"></i>
                            </header>
                            <div class="info-card__content">
                                <h3 class="info-card__title">PAGOS CON</h3>
                                <p class="info-card__description">Transferencia bancaria y tarjetas</p>
                            </div>
                        </article>
                        <article class="info-card">
                            <header class="info-card__icon">
                                <i class="fa-solid fa-award"></i>
                            </header>
                            <div class="info-card__content">
                                <h3 class="info-card__title">GARANTÍA WORKZONE</h3>
                                <p class="info-card__description">Garantía de calidad, con opción a devolución.</p>
                            </div>
                        </article>
                    </section>
                    <!-- /Section info-cards -->
                    <!-- Section products -->
                    <section class="products" id="products">
                        <header class="products__header">
                            <h2 class="products__title">Colección Destacada</h2>
                        </header>
                        <div class="products__grid">
                            <div id="multi-item-carousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <% for (let i=0; i < 30; i +=5) { %>
                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %> col-12">
                                            <div class="row row-cols-5">
                                                <% for (let j=i; j < i + 5 && j < products.length; j++) { %>
                                                    <div class="col">
                                                        <article class="card product-card">
                                                            <div class="product-card__image-container">
                                                                <img class="product-card__image"
                                                                    src="./images/products/<%= products[j].image %>"
                                                                    alt="<%= products[j].name %>">
                                                                <i
                                                                    class="fa-regular fa-heart product-card__favorite-icon"></i>
                                                            </div>
                                                            <div class="product-card__info">
                                                                <p class="product-card__category">
                                                                    <%= products[j].category %>
                                                                </p>
                                                                <p class="product-card__name">
                                                                    <%= products[j].name %>
                                                                </p>
                                                                <p class="product-card__price">$ <%= products[j].price
                                                                        %>
                                                                </p>
                                                                <div class="d-flex justify-content-around gap-2">
                                                                    <a href="/productos/detalle/<%= products[j].id %>"
                                                                        class="btn btn--secondary w-100">VER MÁS</a>
                                                                    <button class="btn btn--primary " type="button"
                                                                        onclick="addProductCart('<%= products[j].id %>')">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>


                        </div>
                        <a href="/productos/lista" class="btn btn--tertiary mt-4"> VER MÁS</a>
                    </section>
                    <!-- /Section products -->
                    <!-- Section categories -->
                    <section class="categories" id="categories">
                        <header class="categories__header">
                            <h2 class="categories__title">Principales Categorías</h2>
                        </header>
                        <div class="categories__grid">
                            <article class="category-card">
                                <div class="category-card__image-container">
                                    <img src="images/categories/craneana.jpg" alt="Categoría"
                                        class="category-card__image">
                                    <p class="category-card__name">CRANEANA</p>
                                </div>
                            </article>
                            <article class="category-card">
                                <div class="category-card__image-container">
                                    <img src="images/categories/auditiva.jpg" alt="Categoría"
                                        class="category-card__image">
                                    <p class="category-card__name">AUDITIVA</p>
                                </div>
                            </article>
                            <article class="category-card">
                                <div class="category-card__image-container">
                                    <img src="images/categories/respiratoria.png" alt="Categoría"
                                        class="category-card__image">
                                    <p class="category-card__name">RESPIRATORIA</p>
                                </div>
                            </article>
                            <article class="category-card">
                                <div class="category-card__image-container">
                                    <img src="images/categories/ocular.jpg" alt="Categoría"
                                        class="category-card__image">
                                    <p class="category-card__name">OCULAR</p>
                                </div>
                            </article>
                            <article class="category-card">
                                <div class="category-card__image-container">
                                    <img src="images/categories/protector-facial.jpg" alt="Categoría"
                                        class="category-card__image">
                                    <p class="category-card__name">FACIAL</p>
                                </div>
                            </article>
                        </div>
                        <button class="categories__view-more btn btn--secondary">VER MÁS</button>
                    </section>
                    <!-- /Section categories -->
                    <!-- Section about -->
                    <section class="about" id="about">
                        <header class="about__header">
                            <h2 class="about__title">¿Por qué Nosotros?</h2>
                        </header>
                        <div class="about__content">
                            <p class="about__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptates quo
                                nemo neque nesciunt similique minus itaque impedit eveniet blanditiis dicta est nam in
                                perferendis tenetur, error eum dolore doloremque, quasi pariatur sint natus
                                exercitationem mollitia veniam!
                            </p>
                            <button type="submit" class="about__submit btn btn--secondary">VER MÁS</button>
                        </div>
                    </section>
                    <!-- /Section about -->
                    <!-- Section review -->
                    <section class="reviews" id="reviews">
                        <header class="reviews__header">
                            <h2 class="reviews__title">Reseñas</h2>
                        </header>
                        <div class="reviews__grid">
                            <article class="review__card">
                                <div class="review__content">
                                    <p class="review__text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consequatur
                                        exercitationem reprehenderit culpa perspiciatis ab maiores commodi, pariatur at
                                        repellat.
                                    </p>
                                </div>
                                <div class="review__footer">
                                    <img src="images/users/male-user1.jpg" alt="Foto del revisor"
                                        class="review__avatar">
                                    <div class="review__info">
                                        <p class="review__name">Nombre de usuario</p>
                                        <p class="review__description">Número de días de comentario</p>
                                        <div class="review__social-icons">
                                            <i class="fa-brands fa-facebook"></i>
                                            <i class="fa-brands fa-instagram"></i>
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="review__card">
                                <div class="review__content">
                                    <p class="review__text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consequatur
                                        exercitationem reprehenderit culpa perspiciatis ab maiores commodi, pariatur at
                                        repellat.
                                    </p>
                                </div>
                                <div class="review__footer">
                                    <img src="images/users/female-user2.jpg" alt="Foto del revisor"
                                        class="review__avatar">
                                    <div class="review__info">
                                        <p class="review__name">Nombre de usuario</p>
                                        <p class="review__description">Número de días de comentario</p>
                                        <div class="review__social-icons">
                                            <i class="fa-brands fa-facebook"></i>
                                            <i class="fa-brands fa-instagram"></i>
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="review__card">
                                <div class="review__content">
                                    <p class="review__text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consequatur
                                        exercitationem reprehenderit culpa perspiciatis ab maiores commodi, pariatur at
                                        repellat.
                                    </p>
                                </div>
                                <div class="review__footer">
                                    <img src="images/users/male-user2.jpg" alt="Foto del revisor"
                                        class="review__avatar">
                                    <div class="review__info">
                                        <p class="review__name">Nombre de usuario</p>
                                        <p class="review__description">Número de días de comentario</p>
                                        <div class="review__social-icons">
                                            <i class="fa-brands fa-facebook"></i>
                                            <i class="fa-brands fa-instagram"></i>
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="review__card">
                                <div class="review__content">
                                    <p class="review__text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consequatur
                                        exercitationem reprehenderit culpa perspiciatis ab maiores commodi, pariatur at
                                        repellat.
                                    </p>
                                </div>
                                <div class="review__footer">
                                    <img src="images/users/female-user1.jpg" alt="Foto del revisor"
                                        class="review__avatar">
                                    <div class="review__info">
                                        <p class="review__name">Nombre de usuario</p>
                                        <p class="review__description">Número de días de comentario</p>
                                        <div class="review__social-icons">
                                            <i class="fa-brands fa-facebook"></i>
                                            <i class="fa-brands fa-instagram"></i>
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!-- /Section review -->
                    <!-- Section contact -->
                    <section class="contact" id="contact">
                        <header class="contact__header">
                            <h2 class="contact__title">Contacto</h2>
                        </header>
                        <div class="contact__grid">
                            <!-- Formulario de contacto -->
                            <form class="contact__form" action="https://formspree.io/f/xovqebdq" method="POST">
                                <div class="contact__form-group contact__form-group--fullname">
                                    <div class="contact__form-group">
                                        <label class="label label--form" for="name">Nombre:</label>
                                        <input class="input" type="text" id="name" name="name"
                                            placeholder="Introduzca su nombre" required>
                                    </div>
                                    <div class="contact__form-group ">
                                        <label class="label label--form" for="lastname">Apellido:</label>
                                        <input class="input" type="text" id="lastname" name="lastname"
                                            placeholder="Introduzca su apellido" required>
                                    </div>
                                </div>
                                <div class="contact__form-group">
                                    <label class="label label--form " for="email">Correo Electrónico:</label>
                                    <input class="input" type="email" id="email" name="email"
                                        placeholder="Introduzca su correo electrónico" required>
                                </div>
                                <div class="contact__form-group">
                                    <label class="label label--form" for="message">Mensaje:</label>
                                    <textarea class="input" id="message" name="message"
                                        placeholder="Escriba su mensaje aquí" required></textarea>
                                </div>
                                <button type="submit" class="contact__submit btn btn--primary">ENVIAR MENSAJE</button>
                            </form>

                            <!-- Información adicional de contacto -->
                            <div class="contact__info">
                                <article class="contact__info-item">
                                    <i class="fa-solid fa-envelope"></i>
                                    <div class="contact__info-content">
                                        <h3 class="text--medium">Email</h3>
                                        <p class="text--small">Nuestro equipo está para ayudarte.</p>
                                        <p class="text--small"><a href="mailto:hello@workzone.com"
                                                class="contact__email-link">hello@workzone.com</a></p>
                                    </div>
                                </article>
                                <article class="contact__info-item">
                                    <i class="fa-solid fa-comments"></i>
                                    <div class="contact__info-content">
                                        <h3 class="text--medium">Chat en vivo</h3>
                                        <p class="text--small">¿Necesitas asistencia inmediata?</p>
                                        <p class="text--small"><a href="https://wa.me/5491156092589" target="_blank"
                                                class="contact__chat-link">Iniciar nuevo chat</a></p>
                                    </div>
                                </article>
                                <article class="contact__info-item">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div class="contact__info-content">
                                        <h3 class="text--medium">Dirección</h3>
                                        <p class="text--small">Nuestra oficina se encuentra ubicada en:</p>
                                        <p class="text--small">123, Zuviria, CABA</p>
                                    </div>
                                </article>
                                <article class="contact__info-item">
                                    <i class="fa-solid fa-phone"></i>
                                    <div class="contact__info-content">
                                        <h3 class="text--medium">Teléfono</h3>
                                        <p class="text--small">Atención de Lunes a Viernes, 8 am - 5 pm</p>
                                        <p class="text--small">(+54) 1156092589</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <!-- /Section contact -->
                    <!-- Section newsletter -->
                    <%- include("../partials/newsletter") %>
                        <!-- /Section newsletter -->
            </main>
            <%- include("../partials/footer") %>
                <!-- Icon whatsapp -->
                <a href="https://wa.me/5491156092589" target="_blank" class="whatsapp-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <!-- /Icon whatsapp -->
                <!-- Scripts -->
                <%- include("../partials/scripts") %>
                    <!-- /Scripts -->

                    
    </body>

</html>