<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", { title: "Detalle de producto" }) %>

<body>
    <!-- Header -->
    <%- include("../partials/header") %>

    <main>
        <section class="container my-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="my-4 text-center">Tu Carrito de Compras</h1>
                </div>
            </div>
            <div class="row">
                <!-- Lista de productos en el carrito -->
                <div class="col-12 col-md-8 mb-4" id="cart-list">
                    <!-- Elementos dinámicos del carrito -->
                </div>

                <!-- Resumen de compra -->
                <div class="col-12 col-md-4">
                    <div class="card shadow-sm sticky-top" style="top: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">Resumen de compra</h5>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <span class="fs-2">Total:</span>
                                <span class="fw-bold fs-2 text--green"><output id="cart-total">0.00</output></span>
                            </div>
                            <button class="btn btn--secondary w-100 mb-2" id="btn-buy">COMPRAR</button>
                            <a href="/productos/lista-productos" class="btn btn--tertiary w-100 mb-2">SEGUIR MIRANDO</a>
                            <button class="btn btn--primary w-100" id="clear-cart">VACIAR CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>

    <script>
        const products = <%- products %>;
    </script>
    
    <!-- /Footer -->
    <%- include("../partials/scripts") %>

</body>
</html>